---
import { type CollectionEntry } from 'astro:content'
import type { GetStaticPaths, Page } from 'astro'
import { getPosts } from '../../utils/post'
import { PAGE_SIZE } from '@/consts'
import MainLayout from '@/layouts/MainLayout.astro'
import PostList from '@/components/post/PostList.astro'
import Pagination from '@/components/post/Pagination.astro'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getPosts()
  return paginate(posts, {
    pageSize: PAGE_SIZE
  })
}

type Props = {
  page: Page<CollectionEntry<'post'>>
}

const { page } = Astro.props
---

<MainLayout title="文章">
  <div class="pt-4 pb-2 lg:pt-10 lg:pb-6">
    <PostList posts={page.data} />
    <Pagination page={page} />
  </div>
</MainLayout>
