---
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout>
  <div class="flex-1 flex items-center justify-center text-8xl font-mono text-foreground/70 text-center">
    Hello world!
  </div>
</MainLayout>
