---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & { href?: string }

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href && pathname === href
---

<a
  href={href}
  class:list={[
    className,
    'transition-colors hover:text-foreground/80 tracking-widest',
    isActive ? 'text-foreground' : 'text-foreground/60'
  ]}
  {...props}
>
  <slot /> - {href}|{pathname}
</a>
