.astro-code {
  @apply overflow-hidden rounded-sm p-4 font-mono;
}

.data-footnote-backref {
  @apply font-mono;
}

.footnotes {
  @apply border-t;
  ol {
    @apply pl-6;
    & > li {
      @apply mb-0 mt-2 text-xs md:text-sm lg:text-base;
      & > p {
        @apply my-0;
      }
    }
  }
}

[id] {
  @apply scroll-mt-16;
}

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  @apply mb-2;
}

code {
  @apply mx-0.5 rounded bg-foreground/10 px-1.5 py-0.5;
  &::before,
  &::after {
    @apply content-none #{!important};
  }
}

p {
  @apply mb-2 #{!important};
}

pre {
  @apply my-1 #{!important};
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
